# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [73]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load
city_data_to_load = "../PyBer_Analysis/Resources/city_data.csv"
ride_data_to_load = "../PyBer_Analysis/Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [74]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [75]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [76]:
# Create the Suburban and Rural city DataFrames.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [77]:
#  1. Get the total rides for each city type
# Get the number of rides for urban cities. 
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.sum()

1625

In [78]:
# Get the total rides for suburban city type
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.sum()

625

In [79]:
# Get the total rides for rural city type
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.sum()

125

In [120]:
# 2. Get the total drivers for each city type
# Get the total drivers for urban city type
urban_total_drivers = urban_cities_df.groupby(["city"]).mean()["driver_count"]
sum_urban_drivers = urban_total_drivers.sum()
sum_urban_drivers

2405.0

In [121]:
# Get the total drivers for suburban city type
suburban_total_drivers = suburban_cities_df.groupby(["city"]).mean()["driver_count"]
sum_suburban_drivers = suburban_total_drivers.sum()
sum_suburban_drivers

490.0

In [122]:
# Get the total drivers for rural city type
rural_total_drivers = rural_cities_df.groupby(["city"]).mean()["driver_count"]
sum_rural_drivers = rural_total_drivers.sum()
sum_rural_drivers

78.0

In [124]:
#  3. Get the total amount of fares for each city type
# Get the total amount of fares for urban cities
urban_fare_count = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_fare = urban_fare_count.sum().round(2)
urban_fare

39854.38

In [125]:
# Get the total amount of fares for suburban cities
suburban_fare_count = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_fare = suburban_fare_count.sum().round(2)
suburban_fare

19356.33

In [126]:
# Get the total amount of fares for rural cities
rural_fare_count = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_fare = rural_fare_count.sum().round(2)
rural_fare

4327.93

In [127]:
#  4. Get the average fare per ride for each city type. 
# Get the average fare per ride for the urban city type. 
urban_average_fare = urban_fare / urban_total_rides
urban_average_fare.round(6)

24.525772

In [128]:
# Get the average fare per ride for the suburban city type.
suburban_average_fare = suburban_fare / suburban_total_rides
suburban_average_fare.round(6)

30.970128

In [129]:
# Get the average fare per ride for the rural city type.
rural_average_fare = rural_fare / rural_total_rides
rural_average_fare.round(6)

34.62344

In [132]:
# 5. Get the average fare per driver for each city type. 
# Get the average fare per driver for urban city type.
urban_average_fare_per_driver = urban_fare / sum_urban_drivers
urban_average_fare_per_driver.round(6)

16.571468

In [133]:
# Get the average fare per driver for suburban city type.
suburban_average_fare_per_driver = suburban_fare / sum_suburban_drivers
suburban_average_fare_per_driver.round(6)

39.502714

In [134]:
# Get the average fare per driver for rural city type.
rural_average_fare_per_driver = rural_fare / sum_rural_drivers
rural_average_fare_per_driver.round(6)

55.486282

In [90]:
#  6. Create a PyBer summary DataFrame.

In [91]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

NameError: name 'pyber_summary_df' is not defined

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')